<!DOCTYPE html  >
<html lang="fr">
<head>
    <script src="http://127.0.0.1:3000/socket.io/socket.io.js"> </script>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.1.0/dist/echarts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-echarts@4.0.0"></script>
    <link rel="stylesheet" type="text/css" href="./src/app.css"  />
    <script src="./src/tweet.js"></script>
    <script src="./src/map.js"></script>
    <script src="./src/emotions.js"></script> 

</head>
<div id="app">
    <div id='map'></div>
    <div id="data">
        <v-container>
            <h1 class="text-center">Que ressente les twittos ?</h1>
        <v-flex>
            <v-text-field
                    placeholder=" Sur quelle sujet voulez vous avoir des informations"
                    v-model="input"
            ></v-text-field>
        </v-flex>
        <v-layout>
            <v-layout>
            <v-flex xs12 sm4 md4>
                <v-radio-group v-model="radios" row :mandatory="false">
                    <v-radio label="Recent"  color="primary" value="recent"></v-radio>
                    <v-radio label="Populaire"  color="warning"  value="popular"></v-radio>
                     <v-radio label="Stream"  color="warning"  disabled value="stream"></v-radio>
                </v-radio-group>
            </v-flex>
            <v-flex md2>
                <v-text-field
                placeholder="Nombre de tweets max :">
                </v-text-field>
            </v-flex>
            </v-flex>

                <v-flex md1>
                    <v-text-field

                        type="number"
                        :rules="rules"
                        v-model="count">
                    </v-text-field>
                </v-flex>
            </v-layout>
            <v-btn :disabled="count < 0 || count > 100" @click="submit">submit</v-btn>
        </v-layout>
        <table id="customers">
            <tr>
                <td v-for="header in headers">{{ header }}</td>
            </tr>
            <tr>
                <td v-for="dessert in emotions"> {{ dessert.value }}</td>
            </tr>
        </table>
        <div v-if="info_tweets.length !== 0">
            <ul>
                <li v-for="item in info_tweets">
                    <v-avatar>
                        <img :src="item.url_image" alt="avatar">
                    </v-avatar>
                </li>
            </ul>
        </div>
    </v-container>
    </div>
</div>
<script>
    // const socket = io('http://localhost:3000');
    // socket.on('tweets', function (tweet) {
    //             const info_filter = buildTweetInfo([tweet]);
    //              info_filter.forEach(
    //                   info =>  this.addMarker(info, this.map)
    //              );
    //              this.isok = true;
    //          });    
     var app = new Vue({
         el: '#app',
         data: {
             info_tweets: [],
             input: '',
             map: null,
             id: 0,
             isok:false,
             rules: [v => (parseInt(v) <= 100 && parseInt(v) >= 0) || 'au maximum 100 tweet'],
             radios: 'recent',
             count: 10,
             headers: [
             ],
             emotions: [],
         },
 
         mounted(){
             this.map = intializeMap();
         },
         methods: {
             build_tweet(tweets){ return buildTweetInfo(tweets);},// Construction de l'objet Tweet pour l'affichage
             async submit(){
                 this.headers = [];
                 this.emotions = [];
                 if(this.radios === "stream"){// Cas du streaming
                     this.getStream()
                 }else{  // Cas de la recherche standard
                 const filter = this.radios;
                 const count = this.count;
                 let value = this.input + '|' + filter + '|' + count;
                 this.map = intializeMap();
                 if(count){
                     value += '|' + count;
                 }
                 console.log(value);
                 const tweets_infos = await axios.get(`http://localhost:8999/api/tweets/ + ${value}`); //Recupération du tweet avec mot clé
                 const tweets = tweets_infos.data.statuses;
                 const info_filter = this.build_tweet(tweets);
                 info_filter.forEach(
                     async info =>  this.addMarker(info, this.map) // Affichage du tweet sur la carte
                 );
                 this.isok = true;
             }
 
             },
              getStream(){
                 this.radios= 'stream';
                 const value = this.input;
                 console.log(value);
                 const map = intializeMap();
                 axios({ // Démarrage du stream qui utilise une socket
                     method:'get',
                     url:`http://localhost:8999/api/realtime/${value}`,
                     responseType:'stream'
                 }).then( tweet_info => {this.isok = true;});
             },
             async addMarker(info, map) { // Affichage des emotions et du tweet sur la carte
                 info.id = this.id++;
                 const destination = info.user_geo;
                 let phrase = '';
                 let i = 0;
                 const array = [];
                 for ( i in info.url_image){ // image du tweet
                     if(i <5){
                         const value = info.text[i].replace(/\n|\r/g,'').replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,' ');
                         array.push({value: value, lang : info.lang, id: String(info.id) + String(i) });
                         phrase = phrase.concat(`<img src="${info.url_image[i]}" alt="image"> <br> <h3 style="width: 300px">"${info.text[i]}"</h3> <h5>${info.name[i]}</h5><br><br> `);
                     }
                     i++
                 }
                 let tones = [];
                 // Gestion de l'émotion associée au Tweet
                 array.forEach(async info => { 
                     let tone = null;
                    manageEmotions(info,this.headers,this.emotions,tone);
                    (tone && tone.length !== 0) ? tones.push(String(tone[0].tone_name)) : tones.push('neutre');
                 });
                 tones = await tones;
                 const emotions = [];
                 if(tones.length !== 0){
                     tones.forEach(tone =>{
                         const line  = emotions.find(emotion => emotion === tone.tone_name);
                         (line === undefined) ? emotions.push({name : tone.tone_name, value: 1}) : line.value++
                     });
                 }
 
                 if(i>5){
                     phrase = phrase.concat(`<br> <h7>afficher les autres ${i - 6} autres tweet en provenance de ${destination} </h7>`);
                 }
                 //Affichage sur la carte
                 positionOnMap(map,info,destination,phrase);
                 return tones
             }
         }
     });

 </script>
 
 </html>